<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h3 class="text-center">Logar</h3>
      <form method="post" action="/usuarios/login">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" class="form-control" name="password" required>
        </div>
        <input type="submit" value="enviar" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>