<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h3 class="text-center">Registrar-se</h3>
      <form action="/usuarios/registrar" method="post">
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control" name="name" value="{{name}}" required>
        </div>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" name="email" value="{{name}}" required>
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" class="form-control" name="password" value="{{password}}" required>
        </div>
        <div class="form-group">
          <label for="password2">Confirmar senha</label>
          <input type="password" class="form-control" name="password2" value="{{password2}}" required>
        </div>
        <input type="submit" value="Enviar" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>