<div class=" jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Ideias, insights e tudo que lhe vier à mente!</p>
  {{!-- <a href="/ideias/adicionar" class="btn btn-danger">I don't wanna miss a thing</a> --}}
</div>