<h1>{{titulo}}</h1>
<p>Tome nota de seus pensamentos, ideias, desejos, anseios...</p>
<p>Simples assim!</p>
<div style="width:100%;height:0;padding-bottom:76%;position:relative;">
  <iframe src="https://giphy.com/embed/EaUqFB34gfKRG" width="70%" height="70%" style="position:absolute" frameBorder="0"
    class="giphy-embed" allowFullScreen>
  </iframe>
</div>