<div class="card card-body">
  <h3>Ideias</h3>
  <form action="/ideias" method="post">
    <div class="form-group">
      <label for="titulo">Título</label>
      <input type="text" class='form-control' name="title">
    </div>
    <div class="form-group">
      <label for="details">Detalhes</label>
      <textarea class='form-control' name="details"></textarea>
    </div>
    <input type="submit" class="btn btn-info" value="Enviar">
  </form>
</div>